@media screen and (min-width: 768px) {
  .mostrar-no-desktop {
    display: block;
    margin: 10px auto;
  }

  .mostrar-no-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mostrar-no-desktop {
    display: none;
  }

  .mostrar-no-mobile {
    display: block;
  }
}

.game-over {
    background-color: #b71c1c;
    height: 56px;
}

.jogo-principal {
  margin-top: 10%;
}

.frase {
  text-align: justify;
  font-size: 1.3em
}

.frase-errada-label {
  color: #b71c1c!important;
}

.frase-errada-textarea {
  border-bottom: 1px solid #b71c1c!important;
  box-shadow: 0 1px 0 0 #b71c1c!important;
}

blockquote {
  border-left-color: #01579b;
}

.informacoes {
  padding: 10px 0;
}

.informacao {
  justify-content: center;
}

.botao-fechar-modal {
  position: absolute;
  right: 0;
}

#botao-reiniciar, #botao-placar {
  width: 50%;
  border-radius: 0;
}

#botao-reiniciar i, #botao-placar i {
  font-size: 8vh;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0
}
.botao-fechar-modal {
  background-color: #01579b;
  font-size: 5vh;
}
