.frase {
  text-align: justify;
  font-size: 1.3em
}

.fim-do-jogo {
  /*font-size: 2em;*/
}

.aumenta-fonte {
  font-size: 2em;
}

.caixa-textarea {
  border: 1px solid #9e9e9e;
  border-radius: 2px;
  padding: 10px;
}

.frase-correta {
  border-color: #009688;
}

.frase-errada {
  border-color: #b71c1c;
}

blockquote {
  border-left-color: #01579b;
}

.informacoes {
  padding: 10px 0;
}

.informacao {
  justify-content: center;
}

.botao-fechar-modal {
  position: absolute;
  right: 0;
}
